<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>First job created for this project, so consider this a work-in-progress and eternal rough draft.&#xd;
&#xd;
This job will build Docker images and then run Docker compose to get them all up-and-running.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_USING_CACHE</name>
          <description>true or false, do you  want to build the Docker images with the current Docker cache?</description>
          <defaultValue>true</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># debugging information when reviewing jenkins build output
pwd
whoami

# download project repository
git clone https://github.com/JacobBHartman/feoh.git
cd feoh

# spin up containers
if [ &quot;${BUILD_USING_CACHE}&quot; -eq &quot;true&quot; ]; then
  docker-compose build
elif [ &quot;${BUILD_USING_ACHE}&quot; -eq &quot;false&quot; ]; then
  docker-compose build --no-cache
fi
docker-compose down
docker-compose up --detach</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.38">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers/>

